.contactSales_container {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

.contactSales_form,
.thanks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  width: max-content;
  height: max-content;
  padding: 20px 16px;
  background-color: white;
  border-radius: 20px;
}

.require::after {
  content: " *";
  color: #ffaa4c;
}
.cross_small {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 16px;
}

#phone {
  background: url(../images/russian-federation.svg) no-repeat center left 16px;
  padding-left: 40px;
}

input {
  box-sizing: border-box;
  width: 303px;
  margin-top: 4px;
  padding: 10px 16px;
  border: 1px solid #f1f1f1;
  border-radius: 14px;
}

label.error {
  margin-top: 4px;
}

input:nth-child(11) {
  margin-bottom: 0px;
}
label:nth-child(2) {
  margin-top: 0px;
}
#contactSales_form_btn {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  padding: 16px 0;
  width: 303px;
  background-color: #b9b9b9;
  border-radius: 16px;
  color: white;
  overflow: visible;
}
.error {
  border-color: #ec1211;
}

form:valid #contactSales_form_btn {
  background-color: #954ced;
}

form:invalid #contactSales_form_btn {
  background-color: #b9b9b9;
}

.thanks {
  box-sizing: content-box;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.thanks .cross_small {
  right: 12px;
}
.thankGuy {
  width: 229px;
}

.thanks_btn {
  box-sizing: border-box;
  text-align: center;
  padding: 16px 0;
  width: 255px;
  background-color: #954ced;
  border-radius: 16px;
  margin-top: 20px;
}

@media (min-width: 1440px) {
  input {
    width: 337px;
  }
  .cross_small {
    top: 16px;
    right: 16px;
  }
  .contactSales_form {
    padding: 40px;
  }

  #contactSales_form_btn {
    width: 182px;
  }

  #phone {
    padding-left: 48px;
  }
  .thanks {
    padding-left: 36px;
    padding-right: 36px;
  }

  .thankGuy {
    width: 297px;
  }
  .thanks_btn {
    width: 337px;
  }
}
