/* UNDER HEADER */
.underHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-color: #181818;
  z-index: 3;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
}

.logoName {
  width: 96px;
  font-size: 29px;
  line-height: 13px;
  font-weight: 600;
  text-align: center;
}

.menu {
  width: 26px;
}

.contactSales {
  text-align: center;
  padding: 16px 0;
  width: 100%;
  background-color: #954ced;
  border-radius: 16px;
}

.displayNone {
  display: none;
}

@media (min-width: 1440px) {
  .underHeader {
    height: 71px;
    padding: 0 60px;
  }

  .logo {
    width: 35px;
  }
  .logoName {
    width: 96px;
    font-size: 37px;
    line-height: 17px;
  }
  .menu {
    display: none;
  }
  .contactSales {
    padding: 16px 30px;
    width: max-content;
  }
  .contactSales:hover {
    cursor: pointer;
  }
  .displayNone {
    display: block;
  }
}
